body {
    background-color:#ffffff;
    margin-left: 20%;
    margin-right: 20%;
    text-shadow: 10px;
}

joint-chart {
    align-items: center;
}

/* 卡片容器 */
.card {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* 左边配图 */
  .card-img {
    flex: 1;
    margin-right: 20px;
  }
  
  /* 右边文字内容 */
  .card-text {
    flex: 2;
  }
  
  /* 文字内容样式 */
  .card-text h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .card-text p {
    font-size: 1em;
    line-height: 1.5;
  }

